
button{
    font-size: 15px;
    background-color: #CCFFCB;
}
h1,h2 {
    color:#A288E3
}
#voteb {
    background-color: #BBD5ED;
}

span{
    color:#de37e7;
}
.tag{
    background-color: rgb(156, 209, 255);
    font-size: 16px;
}
.post a {
    color:red
}
p::selection{
    color:red;
}
